$primary: #F4F3EE;
$secondary: #C32C72;
$navbar-dark-color: #333333;
$navbar-dark-active-color: $secondary;
$background-color: #E2E2E2;
$white: #ffffff;
$footer-font-color: #8D8D8D;

$tablet-width: 600px;

$font-primary: "Open Sans", sans-serif;
$font-secondary: "Archivo Narrow", sans-serif;