* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: $background-color;
    font-family: $font-primary;
    color: $navbar-dark-color;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}

.grid {
    display: grid;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.heading {
    padding-top: 120px;
    text-align: center;
}

@media (min-width: $tablet-width) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .squares {
        max-width: 1440px;
    }
}