* {
    box-sizing: border-box;
}

html,
body {
    height: 100%
}

body {
    background-color: $background-color !important;
    font-family: $font-primary;
    color: $navbar-dark-color;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;

    &__item {
        margin: 0.5em;
        max-width: 250px;
    }
}

.container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.squares {
    padding-top: 90px;
}

/*
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: $font-primary;
    background-color: $background-color !important;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -1;
}

.container {
    margin-top: 100px;
    
}
.grid {
    display: flex;
    flex-wrap: wrap;

    &__item {
        margin: 0.5em;
        max-width: 250px;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    margin-top: 2rem;
    font-size: 0.8em;
    padding: 0.5em;

    @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
    }
}



footer a {
    color: $footer-font-color;
}


.wrapper {
    flex: 1 0 auto;
}

*/