.navbar {
    background-color: $primary !important;
    padding: 1rem 0;
    border: 1px solid $background-color;
    position: absolute;
    width: 100%;
    z-index: 1;

    @media (min-width: $tablet-width) {
        justify-content: space-between;
        flex-direction: row;
        padding: 0;
        margin: 0; 
    }

    &__container {
        @extend .container;

        @media (min-width: $tablet-width) {
            justify-content: space-between;
            flex-direction: row;
            
        }
    }

    .nav__link {
        font-size: 15px;
        font-family: $font-secondary;

        @media (min-width: $tablet-width) {
            font-size: 18px;
        }
    }

    .nav__link--active {
        color: $secondary !important;
        font-family: $font-secondary;

        @media (min-width: $tablet-width) {
            font-size: 18px;
        }
    }

    .collapse {
        padding-bottom: 30px;

        @media (min-width: $tablet-width) {
            height: auto;
        }
    }
}

.navbar-brand {
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    text-transform: uppercase;
}

@media (min-width: $tablet-width) {
    .container {
        width: 1440px;
    }
}